{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="{{author}}">
    <title></title>
    <link rel="stylesheet" href="{% static 'lab_8.css' %}">
</head>

<body>
    <script src='{% static "lab_8.js" %}'></script>

    <form action="#" method="POST">
        <label for="username">username</label>
        <input type="text" placeholder="username">
        <label for="password">password</label>
        <input type="password" placeholder="password">
        <button type="submit">login</button>
    </form>
</body>


</html>